In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data.isnull().any()
data.dtypes
data['Group'].apply(type).value_counts()

Group
<class 'str'>    2000
Name: count, dtype: int64

In [4]:
data['Converted'].value_counts()[False]

1758

In [5]:
critical_val = 3.841

In [6]:
data

      User_ID      Group  Converted
0           1    Control      False
1           2  Treatment      False
2           3    Control      False
3           4    Control      False
4           5    Control      False
...       ...        ...        ...
1995     1996    Control      False
1996     1997  Treatment      False
1997     1998    Control      False
1998     1999    Control      False
1999     2000    Control      False

[2000 rows x 3 columns]

In [7]:
control = data[data['Group']=='Control']
treatment = data[data['Group'] == 'Treatment']

In [8]:
treatment

      User_ID      Group  Converted
1           2  Treatment      False
5           6  Treatment      False
9          10  Treatment      False
14         15  Treatment      False
16         17  Treatment      False
...       ...        ...        ...
1985     1986  Treatment      False
1986     1987  Treatment       True
1987     1988  Treatment      False
1990     1991  Treatment      False
1996     1997  Treatment      False

[984 rows x 3 columns]

In [9]:
control

      User_ID    Group  Converted
0           1  Control      False
2           3  Control      False
3           4  Control      False
4           5  Control      False
6           7  Control      False
...       ...      ...        ...
1994     1995  Control      False
1995     1996  Control      False
1997     1998  Control      False
1998     1999  Control      False
1999     2000  Control      False

[1016 rows x 3 columns]

In [10]:
def conversion_counter(data):
    results = data['Converted']
    success = 0
    for i in results:
        if i == True:
            success += 1
    return success

In [11]:
def conversion_rate(data):
    dataFrame = data
    conversion_rate = (conversion_counter(dataFrame) / len(dataFrame)) * 100
    return conversion_rate

In [14]:
conversion_counter(control)
conversion_counter(treatment)
non_conversion_control = len(control)-conversion_counter(control)
non_conversion_treatment = len(treatment)-conversion_counter(treatment)

In [15]:
con_treatment = conversion_rate(treatment)
con_control = conversion_rate(control)

In [19]:
cnvrted = data['Converted'].value_counts()[True]
t_converted =  cnvrted / len(data)
expected_conv = t_converted * len(control)
expected_non_cov = (1-t_converted)*len(control)

In [21]:
print(expected_conv, expected_non_cov)

122.93599999999999 893.064

In [23]:
chi_sqr_stat = [((conversion_counter(control) - expected_conv)**2)/expected_conv, ((conversion_counter(treatment) - expected_conv)**2)/expected_conv, ((non_conversion_control - expected_non_cov)**2)/expected_non_cov, ((non_conversion_treatment - expected_non_cov)**2)/expected_non_cov]

In [25]:
print(sum(chi_sqr_stat))

1.1674156898271932